/* Grundlæggende indstillinger */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

/* Grundlæggende indstillinger slut */

/* Menu */

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    position: relative;
}

#menu {
    list-style-type: none;
    position: relative;
    padding: 0;
    line-height: 20px;
    background-color: white;
    width: 100vw;
    height: 100vh;
    opacity: 80%;
}

/* Menu slut */

/* Forside */

#forside {
    background-image: url('baggrund.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
}

#forside h1 {
    font-family: 'Questrial', sans-serif;
    color: #4923f4;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 60vw;
    padding: 0vw 10vw 0vw 10vw;
    text-align: center;
}

#forside h2 {
    font-family: 'Questrial', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 0.2px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #4923f4;
}

#forside a {
    text-decoration: none;
    color: #4923f4;
}

#forside a:hover {
    text-decoration: none;
    color: black;
}

/* Forside slut */

/* Header og footer */

header {
    width: 100vw;
    position: fixed;
    z-index: 3;
    text-align: center;

}

header nav {
    display: flex;
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    margin-top: 5vw;
    display: inline-block;
}

nav a {
    color: black;
    font-weight: 200;
    letter-spacing: 0.5px;
}


nav a:hover {
    text-decoration: none;
    color: #4923f4;
}

nav a.active {
    color: #4923f4;
}


footer p {
    font-family: 'Questrial', sans-serif;
    Font-size: 0.6rem;
    color: #000000;
    border-top-color: #4923f4;
    text-align: center;
    padding: 2vw;
}

footer p {
    border-top: solid 1px #4923f4;
    margin-top: 5vw;
}

/* Header og footer slut */


/* Sidebar */

#sidebar .socialmedia {
    margin-left: 90vw;
    position: fixed;
    margin-top: 72vw;
}


.facebook:hover {
    opacity: 0.3;
}

.instagram:hover {
    opacity: 0.3;
}

.email:hover {
    opacity: 0.3;
}

.facebook {
    width: 15px;
    height: 15px;
}

.instagram {
    width: 13px;
    height: 13px;
}

.email {
    width: 13px;
    height: 13px;
}

#sidebar .portfolio p {
    font-family: 'Questrial', sans-serif;
    font-size: 0.9rem;
    color: black;
    letter-spacing: 0.5px;
    transform: rotate(-90deg);

    position: fixed;
    margin-top: 79vw;
    font-weight: 200;
}

/* Sidebar slut*/


/* Info */

#table1 h1 {
    font-family: 'Questrial', sans-serif;
    color: #4923f4;
    font-weight: 600;
    font-size: 3.2rem;
    letter-spacing: 0.8px;
    margin-bottom: 5vw;
    margin-top: 30vw;
}

#table1 h2 {
    font-family: 'Questrial', sans-serif;
    color: #4923f4;
    font-size: 1rem;
    letter-spacing: 0.2px;
}

td {
    display: table-cell;
    vertical-align: text-top;
    text-align: left;
}

#table1 p {
    font-size: 0.9rem;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 0.2px;
    line-height: 28px;
    color: #4923f4;
    width: 48vw;
    font-weight: 500;

}

#table1 {
    border-collapse: separate;
    margin-left: 10vw;
    border-spacing: 5px;
}

/* Info slut */


/* Projekter og hover */

#projekter {
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    flex-direction: column;
    padding-top: 10vw;
}

#projekter p {
    font-size: 1.2rem;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 0.2px;
    line-height: 35px;
    color: #4923f4;
    text-align: center;
}

.kolonne {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.kolonne:hover .image {
    opacity: 0.3;
}

.kolonne:hover .middle {
    opacity: 1;
}

#projekter .tekst {
    color: #4923f4;
    font-family: 'Questrial', sans-serif;
    font-size: 1.3rem;
    padding: 16px 32px;
}

/* Projekter og hover slut */


/* Underside */

#underside {
    display: flex;
    flex-wrap: wrap;
    margin: 5vw 15vw 10vw 15vw;
}

#underside h1 {
    font-family: Questrial;
    color: #4923f4;
    font-size: 1.4rem;
    letter-spacing: 0.8px;
    margin-top: 7vw;
}

#underside h2 {
    font-family: 'Questrial', sans-serif;
    color: #4923f4;
    font-size: 1rem;
    letter-spacing: 0.2px;
}

#underside p {
    font-size: 0.9rem;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 0.2px;
    line-height: 25px;
    color: #3f3f3f;
    font-weight: 200;
}

.cross {
    margin-top: 41px;
    margin-left: 90vw;
    width: 15px;
    height: 15px;
}

#underside a {
    color: #3f3f3f;
}

#underside a:hover {
    color: #4923f4;
}

#underside .colwide_tekst {
    margin-bottom: 16px;
}

/* Underside slut */

/* Button */
#underside .col_wide {
    position: relative;
}

.col_wide .display-left {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.col_wide .display-left:hover {
    color: blue;
}

.col_wide .display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 13px;
    border: none;
}

.col_wide .display-right:hover {
    color: blue;
}

/* Button slut*/



/* Mediaquery ipad */

@media screen and (min-width: 700px) {


    /* Menu start */

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    #menu {
        width: 100vw;
        height: 0vh;
    }

    /* Menu slut */

    /* Header og footer */

    header {
        height: 6vw;
        position: relative;
        background-image: none;
    }

    header nav {
        display: flex;
        font-family: 'Questrial', sans-serif;
        font-size: 1.2rem;
        margin-top: 1vw;
        display: inline-block;
    }

    nav a {
        color: black;
        font-weight: 200;
        letter-spacing: 0.5px;
        margin-right: 1vw;
    }


    nav a:hover {
        text-decoration: none;
        color: #4923f4;
    }

    nav a.active {
        color: #4923f4;
    }


    footer p {
        font-family: 'Questrial', sans-serif;
        Font-size: 0.8rem;
        color: #000000;
        border-top-color: #4923f4;
        text-align: center;
        padding: 2vw;
    }

    footer p {
        border-top: solid 1px #4923f4;
        margin-top: 5vw;
    }

    /* Header og footer slut */


    /* Sidebar */

    #sidebar .socialmedia {
        margin-left: 93.5vw;
        position: fixed;
        margin-top: 43vw;
    }


    .facebook:hover {
        opacity: 0.3;
    }

    .instagram:hover {
        opacity: 0.3;
    }

    .email:hover {
        opacity: 0.3;
    }

    .facebook {
        width: 18px;
        height: 18px;
    }

    .instagram {
        width: 15px;
        height: 15px;
    }

    .email {
        width: 15px;
        height: 15px;
    }


    #sidebar .portfolio p {
        font-family: 'Questrial', sans-serif;
        font-size: 1.2rem;
        color: black;
        letter-spacing: 0.5px;
        transform: rotate(-90deg);
        position: fixed;
        padding: 1vw;
        margin-top: 46vw;
        font-weight: 200;
    }

    /* Sidebar slut */


    /* Forside */
    #forside {
        background-image: url('baggrund.jpg');
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #forside h1 {
        font-family: 'Questrial', sans-serif;
        color: #4923f4;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 0.8px;
        margin-top: 60vw;
        text-align: center;
        padding: 0vw;
    }

    #forside h2 {
        font-family: 'Questrial', sans-serif;
        color: black;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1rem;
        letter-spacing: 0.2px;
        text-align: center;
    }

    #forside a {
        text-decoration: none;
        color: #4923f4;
    }

    #forside a:hover {
        text-decoration: none;
        color: black;
    }

    /* Forside slut */



    /* Info */
    #table1 h1 {
        font-family: 'Questrial', sans-serif;
        color: #4923f4;
        font-weight: 600;
        font-size: 3.5rem;
        letter-spacing: 0.8px;
        margin-bottom: 0;
        margin-top: 10vw;
    }

    #table1 h2 {
        font-family: 'Questrial', sans-serif;
        color: #4923f4;
        font-size: 1.4rem;
        letter-spacing: 0.2px;
    }

    td {
        display: table-cell;
        vertical-align: text-top;
        text-align: left;
    }

    #table1 p {
        font-size: 1.2rem;
        font-family: 'Questrial', sans-serif;
        letter-spacing: 0.2px;
        line-height: 33px;
        color: #4923f4;
        font-weight: 500;
    }

    #table1 {
        border-collapse: separate;
        margin-left: 10vw;
        border-spacing: 30px;
    }

    /* Info slut */


    /* Projekter */

    #projekter {
        margin-left: 10vw;
        margin-right: 10vw;
        padding-top: 2vw;
    }

    #projekter .kolonne {
        float: left;
        padding: 1.2vw;
        padding-bottom: 0vw;
        padding-top: 0vw;
        margin-bottom: 0vw;
    }

    #projekter .raekke {
        padding: 0vw;
        margin-top: 1vw;
    }

    .left,
    .right {
        width: 25%;
    }

    .middle {
        width: 50%;
    }

    .raekke:after {
        content: "";
        display: table;
        clear: both;
    }

    #projekter p {
        font-size: 1.5rem;
        font-family: 'Questrial', sans-serif;
        letter-spacing: 0.2px;
        line-height: 35px;
        color: #4923f4;
        text-align: center;
    }

    /* Projekter slut */

    /* Hover */

    .kolonne {
        position: relative;
        width: 50%;
    }

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .kolonne:hover .image {
        opacity: 0.3;
    }

    .kolonne:hover .middle {
        opacity: 1;
    }

    #projekter .tekst {
        color: #4923f4;
        font-family: Questrial;
        font-size: 1.5rem;
        padding: 16px 32px;
    }

    /* Hover billede slut */

    /* Underside */

    #underside {
        display: flex;
        flex-wrap: wrap;
        margin-left: 15vw;
        margin-right: 15vw;
        margin-top: 5vw;
    }


    #underside h1 {
        font-family: Questrial;
        color: #4923f4;
        font-size: 1.6rem;
        letter-spacing: 0.8px;
        margin-top: 7vw;
    }

    #underside h2 {
        font-family: 'Questrial', sans-serif;
        color: #4923f4;
        font-size: 1.3rem;
        letter-spacing: 0.2px;
    }

    #underside p {
        font-size: 1.2rem;
        font-family: 'Questrial', sans-serif;
        letter-spacing: 0.2px;
        line-height: 33px;
        color: #3f3f3f;
        font-weight: 200;
    }

    .cross {
        margin-top: 70px;
        margin-left: 90vw;
        width: 20px;
        height: 20px;
    }

    #underside a {
        color: #3f3f3f;
    }

    #underside a:hover {
        color: #4923f4;
    }


    #underside .colwide_tekst {
        margin-bottom: 16px;
    }

    /* Underside slut */

    /* Button */
    #underside .col_wide {
        position: relative;
    }

    .col_wide .display-left {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        color: white;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }

    .col_wide .display-left:hover {
        color: blue;
    }

    .col_wide .display-right {
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        color: white;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }

    .col_wide .display-right:hover {
        color: blue;
    }

    /* Button slut*/

    /* Forside effekt */

    .typewriter h1 {

        /* Sikrer at teksten ikke er vist indtil animationen starter */
        overflow: hidden;
        /* Cursoren */
        border-right: solid #4923f4;
        white-space: nowrap;
        /* Lader teksten forblive på en linje */
        margin: 0 auto;
        /* Giver scrolling effekten når tastningen sker */
        letter-spacing: 15em;
        /* Justering */
        animation: typing 4s steps(44) 1s 1 normal both, blinking .75s step-end infinite;
    }

    /* Tast effekten */
    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 22em;
        }
    }

    /* Cursor effekten */
    @keyframes blinking {

        from,
        to {
            border-color: transparent;
        }

        50% {
            border-color: #4923f4;
        }
    }


    .fadein {
        opacity: 0;
        animation-name: fadein;
        animation-delay: 5s;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadein {
        from {
            opacity: 1;
        }

        to {
            opacity: 1;
        }
    }

    /* Forside slut */

}

/* Mediaquery ipad slut */





/* Mediaquery desktop */

@media only screen and (min-width:1100px) {



    #menu {
        width: 100vw;
        height: 0vh;
    }

    /* Header og footer */

    header nav {
        display: flex;
        font-family: 'Questrial', sans-serif;
        font-size: 1.2rem;
        margin-top: 1vw;
        display: inline-block;
    }

    nav a {
        color: black;
        font-weight: 200;
        letter-spacing: 0.5px;
        margin-right: 1vw;
    }


    nav a:hover {
        text-decoration: none;
        color: #4923f4;
    }

    nav a.active {
        color: #4923f4;
    }


    footer p {
        font-family: 'Questrial', sans-serif;
        Font-size: 0.8rem;
        color: #000000;
        border-top-color: #4923f4;
        text-align: center;
        padding: 2vw;
    }

    footer p {
        border-top: solid 1px #4923f4;
        margin-top: 5vw;
    }

    /* Header og footer slut */


    /* Sidebar */

    #sidebar .socialmedia {
        margin-left: 93.5vw;
        position: fixed;
        margin-top: 21vw;
    }


    .facebook:hover {
        opacity: 0.3;
    }

    .instagram:hover {
        opacity: 0.3;
    }

    .email:hover {
        opacity: 0.3;
    }

    .facebook {
        width: 20px;
        height: 20px;
    }

    .instagram {
        width: 17px;
        height: 17px;
    }

    .email {
        width: 17px;
        height: 17px;
    }


    #sidebar .portfolio p {
        font-family: 'Questrial', sans-serif;
        font-size: 1.2rem;
        color: black;
        letter-spacing: 0.5px;
        transform: rotate(-90deg);
        position: fixed;
        padding: 2vw;
        margin-top: 22vw;
        font-weight: 200;
    }

    /* Sidebar slut */

    /* Forside */
    #forside {
        background-image: url('baggrund.jpg');
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #forside h1 {
        font-family: 'Questrial', sans-serif;
        color: #4923f4;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 0.8px;
        margin-top: 25vw;
        text-align: center;
        padding: 0vw;
    }

    #forside h2 {
        font-family: 'Questrial', sans-serif;
        color: black;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1rem;
        letter-spacing: 0.2px;
        text-align: center;
    }

    #forside a {
        text-decoration: none;
        color: #4923f4;
    }

    #forside a:hover {
        text-decoration: none;
        color: black;
    }

    /* Forside slut */



    /* Info */

    #table1 h1 {
        font-family: 'Questrial', sans-serif;
        color: #4923f4;
        font-weight: 600;
        font-size: 3.5rem;
        letter-spacing: 0.8px;
        margin-bottom: 0;
        margin-top: 5vw;
    }

    #table1 h2 {
        font-family: 'Questrial', sans-serif;
        color: #4923f4;
        font-size: 1.4rem;
        letter-spacing: 0.2px;
    }

    td {
        display: table-cell;
        vertical-align: text-top;
        text-align: left;
    }

    #table1 p {
        font-size: 1.2rem;
        font-family: 'Questrial', sans-serif;
        letter-spacing: 0.2px;
        line-height: 33px;
        color: #4923f4;
        font-weight: 500;
    }

    #table1 {
        border-collapse: separate;
        margin-left: 10vw;
        border-spacing: 60px;
    }

    /* Info slut */


    /* Projekter */

    #projekter {
        margin-left: 10vw;
        margin-right: 10vw;
        padding-top: 0vw;
    }

    #projekter .raekke {
        margin-top: 1vw;
    }

    #projekter .kolonne {
        float: left;
        width: 33.3%;
        padding: 1vw;
        padding-bottom: 0vw;
        padding-top: 0vw;
    }

    .left,
    .right {
        width: 25%;
    }

    .middle {
        width: 50%;
    }

    .raekke:after {
        content: "";
        display: table;
        clear: both;
    }

    #projekter p {
        font-size: 1.5rem;
        font-family: 'Questrial', sans-serif;
        letter-spacing: 0.2px;
        line-height: 35px;
        color: #4923f4;
        text-align: center;
    }

    /* Projekter slut */

    /* Hover */

    .kolonne {
        position: relative;
        width: 50%;
    }

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;

    }

    .middle {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .kolonne:hover .image {
        opacity: 0.3;
    }

    .kolonne:hover .middle {
        opacity: 1;

    }

    #projekter .tekst {
        color: #4923f4;
        font-family: 'Questrial', sans-serif;
        font-size: 1.5rem;
        padding: 16px 32px;
    }

    /* Hover billede slut */

    /* Underside */

    #underside {
        display: flex;
        flex-wrap: wrap;
        margin-left: 15vw;
        margin-right: 15vw;
        margin-top: 5vw;
    }


    #underside .col_narrow {
        flex-basis: 200px;
        flex-grow: 1;
        padding-left: 1vw;
    }

    #underside .col_wide {
        flex-basis: 560px;
        flex-grow: 2;
        padding-right: 3vw;
    }

    #underside h1 {
        font-family: 'Questrial', sans-serif;
        color: #4923f4;
        font-size: 1.6rem;
        letter-spacing: 0.8px;
        margin-top: 2vw;
    }

    #underside h2 {
        font-family: 'Questrial', sans-serif;
        color: #4923f4;
        font-size: 1.3rem;
        letter-spacing: 0.2px;
        line-height: 25px;
    }

    #underside p {
        font-size: 1.2rem;
        font-family: 'Questrial', sans-serif;
        letter-spacing: 0.2px;
        line-height: 33px;
        color: #3f3f3f;
        font-weight: 200;
    }

    .cross {
        margin-top: 70px;
        margin-left: 84vw;
        width: 20px;
        height: 20px;
    }

    #underside .colnarrow_tekst {
        flex-basis: 200px;
        flex-grow: 1;
        margin-top: 70px;
        padding-left: 5.3vw;
    }

    #underside .colwide_tekst {
        flex-basis: 400px;
        flex-grow: 2;
        margin-top: 70px;
    }

    #underside a {
        color: #3f3f3f;
    }

    #underside a:hover {
        color: #4923f4;
    }

    /* Underside slut */

    /* Button */
    #underside .col_wide {
        position: relative;
        width: 50%;
    }

    .col_wide .display-left {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        color: white;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }

    .col_wide .display-left:hover {
        color: blue;
    }

    .col_wide .display-right {
        position: absolute;
        top: 50%;
        right: 7.5%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        color: white;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }

    .col_wide .display-right:hover {
        color: blue;
    }

    /* Button slut*/

    /* Forside effekt */

    .typewriter h1 {

        /* Sikrer at teksten ikke er vist indtil animationen starter */
        overflow: hidden;
        /* Cursoren */
        border-right: solid #4923f4;
        white-space: nowrap;
        /* Lader teksten forblive på en linje */
        margin: 0 auto;
        /* Giver scrolling effekten når tastningen sker */
        letter-spacing: 15em;
        /* Justering */
        animation: typing 4s steps(44) 1s 1 normal both, blinking .75s step-end infinite;
    }

    /* Tast effekten */
    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 22em;
        }
    }

    /* Cursor effekten */
    @keyframes blinking {

        from,
        to {
            border-color: transparent;
        }

        50% {
            border-color: #4923f4;
        }
    }

    .fadein {
        opacity: 0;
        animation-name: fadein;
        animation-delay: 5s;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadein {
        from {
            opacity: 1;
        }

        to {
            opacity: 1;
        }
    }

    /* Forside effekt slut */
}

/* Mediaquery desktop slut */
