/* Grundlæggende indstillinger */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

header {
    text-align: center;
    width: 100vw;
}

header nav {
    display: flex;
    font-family: 'Questrial', sans-serif;
    font-size: 1.2rem;
    margin-top: 2vw;
    display: inline-block;
}

nav a {
    color: black;
    font-weight: 200;
    letter-spacing: 0.5px;
    margin-right: 1vw;
}


nav a:hover {
    text-decoration: none;
    color: #4923f4;
}

nav a.active {
    color: #4923f4;
}


footer p {
    font-family: Questrial;
    Font-size: 0.8rem;
    color: #000000;
    border-top-color: #4923f4;
    text-align: center;
    padding: 2vw;
}

footer p {
    border-top: solid 1px #4923f4;
    margin-top: 5vw;
}


#sidebar .socialmedia {
    margin-left: 93.5vw;
    position: fixed;
    margin-top: 25vw;
}


.facebook:hover {
    opacity: 0.3;
}

.instagram:hover {
    opacity: 0.3;
}

.email:hover {
    opacity: 0.3;
}

.facebook {
    width: 20px;
    height: 20px;
}

.instagram {
    width: 17px;
    height: 17px;
}

.email {
    width: 17px;
    height: 17px;
}

#sidebar .portfolio p {
    font-family: 'Questrial', sans-serif;
    font-size: 1.2rem;
    color: black;
    letter-spacing: 0.5px;
    transform: rotate(-90deg);
    position: fixed;
    padding: 2vw;
    margin-top: 26vw;
}


/* Grundlæggende indstillinger slut */

/*Forside*/

#forside {
    background-image: url('baggrund.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
}

#forside h1 {
    font-family: Questrial;
    color: #4923f4;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.8px;
    margin-top: 25vw;
    text-align: center;
}

#forside h2 {
    font-family: Questrial;
    color: black;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 0.2px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #4923f4;
}

a:hover {
    text-decoration: none;
    color: black;
}

/*forside slut*/

/*info*/

#info .tekst {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12vw;
    margin-right: 18vw;
}


#info .col_narrow {
    flex-basis: 150px;
    flex-grow: 1;
    margin-top: 12vw;

}

#info .col_wide {
    flex-basis: 650px;
    flex-grow: 2;
    margin-top: 6vw;
    padding: 4vw;
}

#info h1 {
    font-family: Questrial;
    color: #4923f4;
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 0.8px;
}

#info h2 {
    font-family: Questrial;
    color: #4923f4;
    font-size: 1.5rem;
    letter-spacing: 0.2px;
    line-height: 11;
}

#info p {
    font-size: 1.2rem;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 0.2px;
    line-height: 35px;
    color: #4923f4;
    width: 48vw;
}

/*info slut*/

/*projekter*/

#projekter {
    margin-left: 10vw;
    margin-right: 10vw;
}

#projekter .raekke {
    margin-top: 5vw;
}


#projekter .kolonne {
    float: left;
    width: 33.3%;
    padding: 1.2vw;
}

.left,
.right {
    width: 25%;
}

.middle {
    width: 50%;
}

.raekke:after {
    content: "";
    display: table;
    clear: both;
}

#projekter p {
    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 0.2px;
    line-height: 35px;
    color: #4923f4;
    text-align: center;
}

/*projekter slut*/



/*underside*/

#underside {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 5vw;
}


#underside .col_narrow {
    flex-basis: 200px;
    flex-grow: 1;
    padding-left: 1vw;
}

#underside .col_wide {
    flex-basis: 560px;
    flex-grow: 2;
    padding-right: 3vw;

}

#underside h1 {
    font-family: Questrial;
    color: #4923f4;
    font-size: 1.6rem;
    letter-spacing: 0.8px;
}

#underside h2 {
    font-family: Questrial;
    color: #4923f4;
    font-size: 1.3rem;
    letter-spacing: 0.2px;
}

#underside p {
    font-size: 1.2rem;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 0.2px;
    line-height: 30px;
    color: #3f3f3f;
}

.cross {
    margin-top: 70px;
    margin-left: 84vw;
    width: 20px;
    height: 20px;
}



#underside .colnarrow_tekst {
    flex-basis: 200px;
    flex-grow: 1;
    margin-top: 70px;
    padding-left: 2.5vw;

}

#underside .colwide_tekst {
    flex-basis: 500px;
    flex-grow: 2;
    margin-top: 70px;

}


/*underside slut*/





/*hover*/

.kolonne {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.kolonne:hover .image {
    opacity: 0.3;
}

.kolonne:hover .middle {
    opacity: 1;
}

#projekter .tekst {
    color: #4923f4;
    font-family: Questrial;
    font-size: 1.5rem;
    padding: 16px 32px;
}

/*hover billede slut*/



/*mediaquery*/

@media only screen and (min-width:900px) {}



@media screen and (max-width: 600px) {

    .kolonne .right,
    .kolonne .middle,
    .kolonne .left {
        width: 100%;
    }
}
